/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */


/* GENERAL SETTINGS */
:root {
  --light-teal: #D0FAFF;
	--teal: #90E9E9;
	--deep-teal: #00C2CC;
	--dark-blue: #015E7A;
	--slate: #1C1F21;
}

body {
  font-family: "Helvetica", Sans-Serif;
}

header {
  background-color: var(--light-teal);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header img {
  width: 25%;
}

nav {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

nav h2 {
  visibility: hidden;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  flex-wrap: wrap;
}

nav li {
  display: inline;
  float: right;
}

nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: var(--slate);
}

nav a:hover {
  background-color: var(--dark-blue);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  background-color: var(--deep-teal);
}

h1 {
  position: relative;
  padding-left: 20px;
  color: var(--slate);
  font-size: x-large;
  font-weight: bolder;
  align-items: center;
}

h2 {
  color: var(--slate);
  font-size: larger;
  font-weight: bold;
  padding: 50px;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h4 {
  font-size: medium;
  font-weight: bold;
}

p {
  font-size: medium;
}

button {
  padding: 10px;
  color: var(--light-teal);
  border: var(--dark-blue) 5px solid;
}

footer {
  text-align: center;
  padding: 70px;
}
/* GENERAL SETTINGS */


/* HOME PAGE SETTINGS */
#home-about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

#home-about div {
  padding: 20px;
}

#home-about img {
  max-width: 25%;
  height: auto;
}

#home-about button {
  margin-top: 20px;
}

#home-projects {
  background-color: var(--dark-blue);
}

.home-projects-slides {

}
/* END HOME PAGE SETTINGS */


/* PROJECTS PAGE SETTINGS */
.projects-page-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
/* END PROJECTS PAGE SETTINGS */


/* INDIVIDUAL PROJECTS PAGE SETTINGS */
.projects-images {
  width: 70%;
}

.projects-images ul {
  display: flex;
  flex-wrap: wrap;
}

.projects-images li {
  height: 40vh;
  flex-grow: 1;
}

.projects-images img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border: 1px solid var(--slate);
}

.projects-explanations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}
/* END INDIVIDUAL PROJECTS PAGE SETTINGS */


/* ABOUT PAGE SETTINGS */
#about-page {
  display: flex;
  flex-direction: row;
}

#about-page img {
  width: 30%;
  height: auto;
}
/* END ABOUT PAGE SETTINGS SETTINGS */


/* CONTACT PAGE SETTINGS */
/* END CONTACT PAGE SETTINGS */


/* MOBILE FRIENDLY SETTINGS */
/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
    body {
      
    }
  }
  
  /* On screens that are 360px or less */
  @media screen and (max-width: 360px) {
    body {
      
    }
  }
/* END MOBILE FRIENDLY SETTINGS */