/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */


/* GENERAL SETTINGS */
:root {
  --light-teal: #D0FAFF;
	--teal: #90E9E9;
	--deep-teal: #00C2CC;
	--dark-blue: #015E7A;
	--slate: #1C1F21;
}

body {
    font-family: "Helvetica", Sans-Serif;
}

header {
  background-color: var(--light-teal);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header img {
  width: 10%;
  height: 10%;
}

nav {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

nav h2 {
  visibility: hidden;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: var(--slate);
}

h1 {
  position: relative;
  color: var(--slate);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}
/* GENERAL SETTINGS */


/* HOME PAGE SETTINGS */

/* END HOME PAGE SETTINGS */


/* PROJECTS PAGE SETTINGS */
/* END PROJECTS PAGE SETTINGS */


/* ABOUT PAGE SETTINGS */
/* END ABOUT PAGE SETTINGS SETTINGS */


/* CONTACT PAGE SETTINGS */
/* END CONTACT PAGE SETTINGS */


/* MOBILE FRIENDLY SETTINGS */
/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
    body {
      
    }
  }
  
  /* On screens that are 360px or less */
  @media screen and (max-width: 360px) {
    body {
      
    }
  }
/* END MOBILE FRIENDLY SETTINGS */